In [233]:
#importing required libraries for the prediction
import csv
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [234]:
#reading the csv file
train=pd.read_csv('train.csv');

In [235]:
#visualising the file
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [236]:
#removing unnecessary columns and rows with NaN
train=train.drop(['Pclass','PassengerId','Name','Ticket','Cabin','Fare','Embarked'],axis=1)
train=train.dropna()

In [237]:
#visualising data after making edits to it
train.head()

   Survived     Sex   Age  SibSp  Parch
0         0    male  22.0      1      0
1         1  female  38.0      1      0
2         1  female  26.0      0      0
3         1  female  35.0      1      0
4         0    male  35.0      0      0

In [238]:
#storing size of dataset
m=train.shape[0]

In [239]:
#storing the training examples for X
X=[]
for i in range(m):
    X.append(list(train.iloc[i][['Sex','Age','SibSp','Parch']]))

In [240]:
#changing the values for male and female as 1 and 0 respectively
for i in range(m):
    if X[i][0]=='male':
        X[i][0]=1
    else:
        X[i][0]=0

In [241]:
#storing target variable values
Y=[]
for i in range(m):
    Y.append(train.iloc[i]['Survived'])

In [242]:
#training and predicting values
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=1)
kn = KNeighborsClassifier(n_neighbors=1)
kn.fit(X_train,Y_train)
print("Accuracy : ",round(kn.score(X_test,Y_test)*100,4))

Accuracy :  77.6536